.blog-post-anchor {
    text-decoration: none;
    color: black;
}
.blog-post {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    border: 5px #000080 solid;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
    display: grid;
    grid-template-columns: 1fr 10px 1fr;
    grid-template-rows: auto repeat(2, 1fr);
    grid-gap: 20px;
    transition: transform 0.2s;
    margin: 20px;
}
.blog-post:active {
    transform: scale(1.02);
    transition: transform 50ms;
}
.blog-post img {
    max-width: 100%;
    max-height: 550px;
    border-radius: 10px;
    grid-area: 1 / 1 / 4 / 1;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
    align-self: center;
    justify-self: center;
}
.blog-post .headline {
    grid-area: 1 / 3 / 1 / 3;
}
.headline h1 {
    margin: 0;
    font-size: 100px;
}
.headline span {
    font-style: italic;
}
.blog-post .summary {
    grid-area: 2 / 3 / 4 / 3;
    font-size: 20px;
    background: linear-gradient(#000, #fff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.vl {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid rgba(0, 0, 0, 0.75);
    max-height: fit-content;
    grid-area: 1 / 2 / 4 / 2;
}
